<div class="container-fluid d-flex">

    <div class="row mx-5">
      <div class="card-header">
        <span appHighlight> Post {{ p.id }}</span>
      </div>
    <div
    class="card my-4 mt-0"
    [ngClass]="{
      'bg-warning': p.type == 'news',
      'bg-info': p.type == 'education',
      'bg-dark': p.type == 'politic',
      'text-white': p.type == 'politic'
    }"
    >
    <a class="btn my-2 ms-0" (click)="eliminaPost(p.id)" style="width:20px;">❌</a>
    <div class="card-body">
          <h5 class="card-title">{{ p.title | maiuscolo }}</h5>
          <p class="card-text">{{ p.body }}</p>

          <ng-content></ng-content>
        </div>
      </div>
    </div>
</div>
